<%# #name, location, description and list of items and quantities needed with link to make a donation at the bottom %>
<h1><%=@shelter.name%></h1>
Located in <%=@shelter.location%>
<p>If you are not able to volunteer in person, please consider donating an item from the Wish List. Thank you!</p>
<h2>WISH LIST</h2>
<table>
    <thead>
        <tr>
            <th>Quantity</th>
            <th> Item</th>
        </tr>
    </thead>
    <tbody>
        <tr>
         <%@shelter.needed_items.each do |needed_item|%>
            <td><%=needed_item.quantity%></td>
            <td><%=needed_item.item.name%></td>
        </tr>
         <%end%>
    </tbody>
</table>

<%=link_to "Make a donation", new_user_donation_path(current_user) %>
