<div class="page">
<h2><%=current_user.username.capitalize%>'s Past Donations</h2>

<%@money_donations.each do |donation|%>
<h3>Monetary Donations</h3>
Date of Donation: <%=donation.created_at.strftime("%^b %d %Y")%><br>
Donated to: <%=donation.shelter.name%><br>
Item: <%=donation.item.name%><br>
Dollar Amount: $<%=donation.dollar_amount%><br>
<%end%>
<br>

<%@item_donations.each do |donation|%>
<h3>Item Donations</h3>
Date of Donation: <%=donation.created_at.strftime("%^b %d %Y")%><br>
Donated to: <%=donation.shelter.name%><br>
Item: <%=donation.item.name%><br>
Quantity: <%=donation.quantity%><br>
<%end%>

</div>