<h1>Donation Form</h1>

<%=form_for @donation do |f|%>
<%=f.label :shelter_id, "Select the shelter you would like to donate to"%><br>
<%=f.collection_select :shelter_id, Shelter.all, :id, :name, :include_blank => true%><br>
<%=f.label :item_id, "Select the item you would like to donate"%>
<%=f.collection_select :item_id, Item.all, :id, :name, :include_blank => true%>
<%=f.label :quantity%>
<%=f.number_field :quantity, min: 1%>
<%=f.label :dollar_amount%>
<%=f.number_field :dollar_amount, step: "any", min: 1%>
<br>
<%=f.submit "Submit Donation"%>
<%end%>