<!DOCTYPE html>
<html>
  <head>
    <title>Dear Creatures</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap" rel="stylesheet">
  </head>

  <body>
      <%if current_user%>
      <header>
        <h1>Dear Creatures</h1>
        <strong>An app for humans to give to animals in need</strong>
        <div class="nav-btns">
          <button><%=link_to "home", user_path(current_user)%></button>
          <button><%=link_to "logout", logout_path%></button>
        </div>
      </header>
      <%end%>
      <main>
        <%= yield %>
      </main>
  </body>
 
</html>
